<html>
    <head></head>
    <body>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('users') }}">Пользователи</a>
        <a href="{{ url_for('registration') }}">Зарегистрироваться</a>
        <h1>Главная</h1>
        <p>Добро пожаловать на наш сайт - FAST TRAVEL</p>
        <style>
            body {
                background: rgb(220, 77, 233);
            }
        </style>
        <img src="/static/-L7F6SRZ-48.jpg" width="1920" height="1080" alt="Добро пожаловать">
    </body>
</html>
